
.mySwiper {
  width: 100%;
  height: 20vh;      /* Altura inicial */
  margin: 0 auto;
  border-radius: 0;  /* SIN BORDES por defecto */
  overflow: hidden;
  position: relative;
  

}

.mySwiper :global(.swiper-slide img) {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Cambia de 'cover' a 'contain' */
  object-position: center;
}



@media (min-width: 376px) {
  .mySwiper {
    height: 30vh;
    
  }
}

/* ==========================================
   3. TABLETS Y CELULARES "MAX"
   A partir de 481px
   ========================================== */
@media (min-width: 481px) {
  .mySwiper {
    width: 100%;
    height: 35vh;
    
  }
}

/* ==========================================
   4. DESKTOP (PC y Laptops)
   */
@media (min-width: 1024px) {
  .mySwiper {
    height: 70vh;       /* Tu altura deseada en escritorio */
    width: 100%;         /* Despegamos de los bordes laterales */
    border-radius: 30px; 
  }
   .mySwiper :global(.swiper-slide img) {
    object-fit: cover; /* En desktop vuelve a cover */
  }
}